.panel-light,
.panel-dark {
  border: 1px solid black;
  border-radius: 4px;
  padding: 20px;
}
.panel-light {
  color: #222;
  background: #aaa;
}
.panel-dark {
  color: #fff;
  background: #282c34;
}

.button-light,
.button-dark {
  border: 1px solid #777 !important;
  margin: 0 8px 35px;
  width: 5rem;
}
.button-dark {
  color: #fff;
}
.button-light {
  color: #222 !important;
}

.toggle-light,
.toggle-dark {
  z-index: 1;
  cursor: pointer;
  position: absolute;
  top: 6rem;
  left: 6rem;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.toggle-light{
  background: transparent;
  border: 2px solid aquamarine;
}
.toggle-light:hover{
  background-color: #282c34;
  border: 2px solid #282c34;
}
.toggle-dark{
  background: transparent;
  border: 2px solid aquamarine
}
.toggle-dark:hover{
  background-color: #aaa;
  border: 2px solid #aaa;
}

#checkmark{display: none;}
