#spyy {
  padding: 15px;
  background: transparent;
  border: solid 1px #fff;
  border-radius: 5px;
  color: #fff;
}

input:focus-visible {
  border: solid 1px #61dafb;
  outline: none;
}

.caught {
  color: #61dafb55;
}
